<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h2>Registration</h2>
      <p>Enter your credentials to access your account</p>
  
      <input formControlName="firstname" placeholder="First Name" />
      <input formControlName="email" placeholder="Email" />
      <input formControlName="phone" placeholder="Phone Number" />
      <input formControlName="password" type="password" placeholder="Password" />
  
      <label>
        <input type="checkbox" formControlName="terms" />
        I agree to <a href="#">Terms of use</a> & <a href="#">Privacy policy</a>
      </label>
  
      <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
  
      <div class="divider">Or sign up with</div>
      <div id="google-button"></div>

          <!-- <button type="button" (click)="signUpWithFacebook()">Facebook</button> -->
    </form>
  </div>
  